/apikey.*
/data_collection.py
/data_handling.py
/env
/example.py
/fmp-data.csv
/stock_model.keras
/stock_scaler.pkl
/test.py
/~$nnen we snel rijk worden met AI.docx
model_output/
data_output/
keras_tuner/
/local.py
*old*
*_v*
training_v6.py
ball.jpg
model_vars.xlsx
overfit1.jpg
readme.pdf
~$model_vars.xlsx
.vscode/settings.json
model_vars.csv
mv_output.csv
predict_v3.py
proof_25.jpg
proxies.txt
run_parms.jpg
shap25022025.png
strategieën om overfitting te verminderen.docx
test_json.py
test_kt.py
test2.py
train_190225.py
training_190225.2.py
training_v3.py
training_v7.py
useragents.txt
yfinance.cache
.vscode/launch.json
untitled_project/training_vx.py
.gitignore
test_yf.py
__pycache__/local.cpython-312.pyc
~$rategieën om overfitting te verminderen.docx
batch_upload.py
run_predict.bat
ai_agent/agent.py
.gitignore
ai_agent/test_env.py
conv_to_tflite.py
ai_agent/logs/agent.log
ai_agent/models/__pycache__/predictor.cpython-312.pyc
ai_agent/models/predictor.py
ai_agent/__pycache__/utils.cpython-312.pyc
ai_agent/__pycache__/config.cpython-312.pyc
ai_agent/models/__pycache__/trainer.cpython-312.pyc
ai_agent/utils.py
ai_agent/config.py
__pycache__/local.cpython-312.pyc
__pycache__/local.cpython-312.pyc
